#abuelo,
#padre,
#hijo{
    border: 1px solid;
    padding: 20px;
    border-radius: 8px;
}
#abuelo{
    height: 300px;
    background-color: blueviolet;
}
#padre{
    height: 200px;
    background-color: brown;
}
#hijo{
    height: 100px;
    background-color: aquamarine;
}